/* * {
  outline: 1px solid red;
} */

body {
  background-color: #141f2b;
  z-index: 1;
}

#Member-Centre {
  background-color: #141f2b;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 1000px;
  background-image: url(../png/會員中心.png);
  background-repeat: no-repeat;
  background-position: center;
}

.goldline {
  background-image: url(../png/會員中心.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}

.header {
  height: 120px;
}

/* ------------------------- top area */

.top-area {
  width: 100%;
  margin-bottom: 170px;
  margin-top: 70px;
}

.name2 img {
  margin-left: 50px;
}

.name2 p {
  color: white;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  width: 120px;
  text-align: center;
  width: 200px;
  margin-top: 10px;
}

.name2svg {
  width: 33px;
}

.nametop {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.namebottom {
  font-size: 20px;
  font-weight: 300;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
}

.out {
  margin-left: 8rem;
  display: flex;
}

.out p {
  color: white;
  font-size: 30px;
}

.out svg {
  margin-top: 8px;
}

/* ------------------------- bootom area */

.bottom-area {
  width: 1440px;
  height: 400px;
  margin: 0 auto;
  padding: 1rem 0;
  border-top: 2px solid white;
}

.bottom-text {
  align-items: center;
}

.bottom-word {
  color: white;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  width: 120px;
}

.text {
  color: white;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  width: 500px;
}

.black-area {
  background-color: black;
  width: 500px;
  height: 185px;
}

.black-text h1 {
  color: #658eaf;
  font-weight: 100;
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  padding: 25px 0 25px 25px;
}

.black-text2 p {
  color: white;
  margin-left: 20px;
  font-size: 16px;
}

.aboutme1 {
  color: white;
  font-size: 30px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
  border-bottom: 5px solid #ff8d00;
  margin-right: 3rem;
  padding: 0 3rem;
}

.aboutme1 a {
  color: white;
  text-decoration: none;
}

.aboutme2 p {
  color: white;
  font-size: 30px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: bold;
}

.aboutme2 a {
  text-decoration: none;
}

.change {
  color: white;
  font-size: 30px;
  margin-left: 41rem;
}

.change svg {
  margin-top: 10px;
  margin-right: 10px;
}

/* --------------------------- footer */

.foot {
  height: 205px;
  background-color: #002a4c;
}

/* ---------------------------- RWD */

@media (min-width: 415px) {
  .phone {
    display: none;
  }
}

@media (max-width: 414px) {
  /* #Member-Centre {
    height: 1000px;
  } */

  .header {
    height: 80px;
  }

  .web {
    display: none;
  }

  .big-area {
    margin: auto;
  }

  .top-area {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .black-area {
    background-color: black;
    /* width: 500px;
    height: 185px; */
    display: flex;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .user {
    text-align: center;
  }

  .name2 {
    justify-content: center;
  }

  .name2 img {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }

  .name2 p {
    width: 90px;
  }

  .photo {
    text-align: center;
  }

  .aboutme1 {
    font-size: 20px;
  }

  .aboutme2 {
    font-size: 20px;
    margin-left: 10px;
  }

  .aboutme2 p {
    font-size: 20px;
    margin-left: 10px;
  }

  .bottom-word p {
    width: 70px;
    font-size: 16px;
  }

  .text p {
    font-size: 16px;
  }

  .change {
    margin-left: 20px;
  }

  .bottom-text {
    padding: 0;
  }

  .out {
    margin-left: 230px;
    padding-top: 10px;
  }

  .out p {
    font-size: 20px;
  }

  .out svg {
    width: 20px;
    margin: 0;
  }

  .change p {
    width: 50px;
    font-size: 20px;
  }

  .change svg {
    margin: 0;
    margin-right: 5px;
    width: 20px;
  }
}
